**/.DS_Store
**/*.pyc
.vscode/

data/processed_trajectories/
data/raw_problems/
data/*.zip
data/regenerate_missing_trajectories.sh
data/check_dataset_uniqueness.py
data/generate_dataset.sh

outputs/
own/

PaTS.egg-info/
build/

training_outputs/
benchmark_results/
slurm/*
local-run.sh
local-submit_all_runs.sh

**/__pycache__/
