**/.DS_Store
**/*.pyc
.vscode/

blocksworld/data/*
!blocksworld/data/generate_dataset.sh
!blocksworld/data/parse_and_encode.py
!blocksworld/data/analyze_dataset_splits.py
!blocksworld/data/README.md

blocksworld/outputs/
blocksworld/data_original/*.json
own/
