**/.DS_Store
**/*.pyc
.vscode/

data-old/blocks_*/
data-old/*.zip

data/processed_trajectories/
data/raw_problems/

outputs/
own/

PaTS.egg-info/
build/

training_outputs/
benchmark_results/
slurm/*
local-run.sh

**/__pycache__/